---
generate: /random/*
wrapper: wrappers/alternate
---

<div><%- myData %></div>

<script generate>
  // test some async generation
  const toGenerate = 3;

  const pages = [];

  let remaining = toGenerate;

  const checkDone = () => {
    remaining--;
    if (remaining == 0) {
      resolve({
        generate: pages,
      });
    }
  };

  for (let i = 0; i < toGenerate; i++) {
    setTimeout(() => {
      pages.push({
        path: "page" + i.toString(),
        data: {
          myData: "hello " + i,
          title: i.toString(),
        },
      });
      checkDone();
    }, Math.floor(Math.random() * 100));
  }
</script>