---
generate: /random/*
wrapper: wrappers/alternate
fromPage: I am random
---

<div><%- myData %></div>

<script generate>
  ({
    generatePages
  }) => {
    return new Promise(function(resolve, reject) {
      // test some async generation
      const toGenerate = 5;

      let remaining = toGenerate;

      const checkDone = (request) => {
        generatePages(request); // request this page be created
        remaining--;
        if (remaining == 0) {
          resolve(); // we're done
        }
      };

      for (let i = 0; i < toGenerate; i++) {
        setTimeout(() => {
          checkDone({
            path: "page" + i.toString(),
            data: {
              myData: "hello " + i,
              title: i.toString(),
            },
          });
        }, Math.floor(Math.random() * 100));
      }
    });
  }
</script>