<html lang="en">
  <head>
    <title><%= title %></title>
  </head>
  <body>
    <%- include('_body') %>
  </body>
</html>

<script lib>
  const analytics = {
    init: () => {
      console.log("todo: initialize analytics");
    },
  };
  export { analytics };
</script>
