---
generate: /random/*
wrapper: wrappers/alternate
---

<div> sync return nothing <%- myData %></div>

<script generate>
  ({
    generatePages
  }) => {
    // generate some pages but don't return anything.
    const toGenerate = 5;

    const pages = [];

    let remaining = toGenerate;

    for (let i = 0; i < toGenerate; i++) {
      generatePages({
        path: "page" + i.toString(),
        data: {
          myData: "hello 2" + i,
          title: i.toString(),
        }
      })
    }
  }
</script>