---
generate: /random/*
wrapper: wrappers/alternate
---

<div> <%- myData %></div>

<script generate>
  async ({
    generatePages,
  }) => {
    // another way of generating multiple pages
    const promises = [];
    const toGenerate = 5;
    for (let i = 0; i < toGenerate; i++) {
      promises.push(new Promise((resolve, reject) => {
        setTimeout(() => {
          generatePages({
            path: "page" + i.toString(),
            data: {
              myData: "hello " + i,
              title: i.toString(),
            },
          });
          resolve()
        }, Math.floor(Math.random() * 100));
      }));
    }
    await Promise.all(promises);
  }
</script>