<div class="<%= className %>"><%= text %></div>
<div><%= global.date %></div>
<% if (fromPage) { %>
<div>My parents are special: <%= fromPage %></div>
<% } %>

<script lib>
  // anything here will be written to "Label.js"
  function count(className) {
    var elements = document.getElementsByClassName("className");
    console.log("lables used: " + elements.length);
  }
  export {
    count
  };
</script>