<html lang="en">
<meta name="description" content="wrappers/alternate updated">

<head>
  <title><%= title %></title>
</head>

<body>
  Alternate wrapper:
  <i> <%- include('_body') %> </i>
</body>

</html>